/* 
    Document   : css.css
    Created on : Nov 19, 2011, 10:39:31 AM
    Author     : fatih
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
@import "reset.css";
@import "style.css";

